<nav style="display: flex; justify-content: space-around; padding: 2rem">
    <a mat-stroked-button color="primary" [routerLink]="routerLinks.home" i18n="@@home">Home</a>

    <button mat-button [matMenuTriggerFor]="menu">Playground</button>
    <mat-menu #menu="matMenu">
        <a mat-flat-button [routerLink]="routerLinks.animals" style="width: 100%">Animals</a>
        <a mat-flat-button [routerLink]="routerLinks.dataManipulation" style="width: 100%">Data Manipulation</a>
        <a mat-flat-button [routerLink]="routerLinks.directives" style="width: 100%">Directives</a>
        <a mat-flat-button [routerLink]="routerLinks.pipes" style="width: 100%">Pipes</a>
        <a mat-flat-button [routerLink]="routerLinks.weather" style="width: 100%">Weather</a>
    </mat-menu>
</nav>
<router-outlet></router-outlet>
